# Cargo+Git helper file (https://github.com/rust-lang/cargo/blob/0.44.1/src/cargo/sources/git/utils.rs#L320-L327)
.cargo-ok

# Output of wasm-opt
contract/optimized-wasm/

# Text file backups
**/*.*.bk

# IDE specific files
*.iml
.idea

# npm packages
**/node_modules/

# Contract upload and instantiation data
node/output/

# Rust build output
contract/target/

# MacOS finder metadata
**.DS_Store

# Environment variables
**.env
